/*Hoja de estilos para Funciones*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #b1ccec;
}


.encabezado{
    background-color: #D90B7D;
    width: min(40em, 100%);
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
}

.encabezado h1{
    text-align: center;
    color: white;
}

#ventana{
    background-color: #F5AFDB;
    width: min(40em, 100%);
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
    display: block;
    align-content: center;
}

#ventana h2{
    color: #0B2162;
    text-align: center;
}

#ventana2{
    background-color: #F5AFDB;
    width: min(40em, 100%);
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
}

#ventana2 label{
    display: flex;
    justify-content: center;
}


.tituloCampo{
    text-align: center;
    font-size: 18px;
    color: #0B2162;
}

.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
}

#limite {
    width: 5.3em;
    margin-top: .5em;
    height: 2.2em;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.campo select{
    width: 4em;
    height: 2.8em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: .8em;
}

.campo-nombre{
    font-size: 20px;
    text-align: center;
    padding: .5em;
}

.pieDePagina{
    background-color: #0B2162;
    width: min(40em, 100%);
    margin: 1em auto;
    border-radius: 5px;
}

.pieDePagina h2{
    color: white;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

#esSimetrico{
    font-weight: bold;
}

#btnLlenar {
    background-color: #0B2162;
    color: white;
    border: none;
    font-weight: bold;
    padding: .8em;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
}

#btnLlenar:hover {
    background-color: #b1ccec;
    cursor: pointer;
    color: black;
}